<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Names />
  </Properties>
  <Display currentTabName="Athletics_Worker" currentTabNumber="0" fontSize="9">
    <Graphs>
      <Graph name="Athletics_DB" number="0" applyLayout="true">
        <Node name="Athletics_DB" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
      </Graph>
      <Graph name="Athletics_Worker" number="0" applyLayout="false">
        <Node name="Athletics_Worker" number="0">
          <x>702.0</x>
          <y>16.0</y>
        </Node>
      </Graph>
      <Graph name="Website" number="0" applyLayout="false">
        <Node name="Website" number="0">
          <x>702.0</x>
          <y>16.0</y>
        </Node>
      </Graph>
      <Graph name="Cycling_Worker" number="0" applyLayout="false">
        <Node name="Cycling_Worker" number="0">
          <x>702.0</x>
          <y>16.0</y>
        </Node>
      </Graph>
      <Graph name="Cycling_DB" number="0" applyLayout="false">
        <Node name="Cycling_DB" number="0">
          <x>702.0</x>
          <y>16.0</y>
        </Node>
      </Graph>
    </Graphs>
  </Display>
</Configuration>

